<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Account</title>
</head>
<body>
 <h1>Account Details</h1>
 <p><strong>First Name:</strong> <%= user.FirstName %></p>
 <p><strong>Last Name:</strong> <%= user.LastName %></p>
 <p><strong>Phone Number:</strong> <%= user.PhoneNum %></p>

 <a href="/user/home">Back to Home</a>
</body>
</html>