<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <h1>TSC Hotel</h1>
      </header>

  <div class="login-container">
    <h1 class="login-header">Login</h1>
    <% if (error) { %>
      <p class="error"><%= error %></p>
    <% } %>
    <% if (success) { %>
      <p class="success"><%= success %></p>
    <% } %>
    <form action="/user/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    
    </form>
  </div>
</body>
</html>