body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebe8e8; /* Light grey background */
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; /* Align elements vertically */
    align-items: center;
    height: 100vh;
  }
  
  header {
  background-color: #002395;
  color: white;
  padding: 10px;
  text-align: center; /* Align text to the left */
  width: 100%; /* Make the header full width */
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Adjust the width as needed */
    margin-top: 40px; /* Add margin to space the form from the header */
  }
  .login-header {
    text-align: center; /* Center the text within the header */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label, input, button {
    margin-bottom: 10px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.2em; /* Increase font size */
  }